<div class="data-entry-header">
  <h2><i class="icon-exclamation-sign icon-white"></i> Actions <a href="#Actions" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
  </h2>
</div>
<p>Commonly used actions.</p>

<div id="Actions" class="collapse in">
	<p>
		<%= link_to new_lot_path do %>
	     	<i class="icon-plus"></i> Generate New Lot Number
	     <% end %>
	     <br/>
	     <%= link_to "#" do %>
	     	<i class="icon-plus"></i><i class="icon-plus"></i> Generate Batch Lot Numbers
	     <% end %>
	     <br/>
	     <%= link_to lots_path do %>
	     	<i class="icon-list"></i> Browse all Lots Numbers
	     <% end %>
	     </br/>
	     <%= link_to clients_path do %>
	     	<i class="icon-list"></i> Browse all Clients
	     <% end %>
	     </br/>
	     <%= link_to users_path do %>
	     	<i class="icon-list"></i> Browse all Users
	     <% end %>
	     </br/>
	     <%= link_to edit_lot_path(Lot.last(1)) do %>
	     	<i class="icon-eye-open "></i> View Last Lot Number Generated (#<%= Lot.last(1)[0].id %>)
	     <% end %>
	     </br/>
     </p>
</div>
