<% provide(:title, 'Dashboard') %>
<h1>Dashboard</h1>

<div class="row">
  <div class="span5 offset0">  	
	<%= render 'dashboard/user' %>  	
	<%= render 'dashboard/actions' %> 	
  	<%= render 'dashboard/recentsamples' %> 	
  	<% if staff_user? %>
		<%= render 'dashboard/batches' %>	
	<% end %>	
  </div>

  <div class="span7 offset0">	
  	<%= render 'searches/new' %>
	<%= render 'dashboard/mylots' %>	
	<%= render 'dashboard/mybatches' %>
 </div>
</div>

<div class="row">
  <div class="span12 offset0">  	
  	<%= render 'dashboard/recentsearch' %>
  </div>	
</div>

