<% provide(:title, 'All Users') %>
<h1>All Users</h1>

<div class="row">
  <div class="span10 offset1">

	<%= will_paginate %>
	
	<table class="table">
	  <tr>
	    <th>User</th>
	    <th>Email</th>
	    <th>Role</th>
	    <th>Options</th>
	  </tr>
	
	
	  <% @users.each do |user| %>
	    <tr>
	      <td>
	      	<%= link_to user.name, user %>
	      </td>
	      <td>
	      	<%= user.email %>
	      </td>
	      <td>
	      	<%= user.role %>
	      </td>
	      <td>
	      <% if current_user.admin? %>
	    		<%= link_to edit_user_path(user) do %>
	    		 	<i class="icon-edit"></i>
	    		<% end %>	  	  	  	  
	    		<%= link_to update_password_user_path(user) do %>
	    		 	<i class="icon-lock"></i>
	    		<% end %>
	  	  <% end %>
	  	  <% if current_user.admin? && !current_user?(user) %>
		    	<%= link_to user, method: :delete, data: { confirm: "You sure you wish to delete this user?" } do %>
		    	<i class="icon-trash"></i>
		    	<% end %>
	  	  <% end %>
	  	  </td>
	    </tr>
	    
	<% end %>
   </table>
   	<div class="keys">
		<ul>
			<li>
				<i class="icon-trash"></i> Delete
			</li>
			<li>
				<i class="icon-lock"></i> Change Password
			</li>
			<li>
				<i class="icon-edit"></i> Edit
			</li>
			<li>
				<b>Keys:</b>
			</li>
		</ul>
	</div>
   <%= will_paginate %>
  </div>
</div>
