<% provide(:title, 'Create Account') %>
<h1>New User</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	
	  <div class="control-group required">
      	<%= f.label :name, :class => "control-label" %>
	      <div class="controls">	
	      	<%= f.text_field :name %>
	      	<%= render :partial => "layouts/hint", :locals => {:hint => "Displayname shown next to entries you have created or updated."} %>
		  </div>
	  </div>
		
	  <div class="control-group required">
      	<%= f.label :email, :class => "control-label" %>
	      <div class="controls">	
	      	<%= f.text_field :email %>
	      	<%= render :partial => "layouts/hint", :locals => {:hint => "Email address used to login into the system."} %>
		  </div>
	  </div>
		
	  <div class="control-group required">
	  	<%= f.label :role, :class => "control-label" %>
	 	<div class="controls">	
	  		<%= f.select :role, options_for_select([["Student", "Student"], ["Staff", "Staff"]], @user.role) %>
	  		<%= render :partial => "layouts/hint", :locals => {:hint => "Staff users can change system settings, student users can only generate lot numbers."} %>
	    </div>
	  </div>
		
      <div class="control-group required">
      	<%= f.label :password, :class => "control-label" %>
      	<div class="controls">	
      		<%= f.password_field :password %>
      		<%= render :partial => "layouts/hint", :locals => {:hint => "Passwords should be at least 6 characters long."} %>
	    </div>
	  </div>
		
      <div class="control-group required">
      	<%= f.label :password_confirmation, "Confirmation", :class => "control-label" %>
      	<div class="controls">	
      		<%= f.password_field :password_confirmation %>
      		<%= render :partial => "layouts/hint", :locals => {:hint => "Passwords confirmation should match the password entered above."} %>
	    </div>
	  </div>

	  <div class="control-group">
	  	<%= f.label :disabled, "Account Disabled", :class => "control-label" %>
	 	<div class="controls">	
	  		<%= f.check_box :disabled, {checked: @user.disabled} %>
	  		<%= render :partial => "layouts/hint", :locals => {:hint => "Disabling an account will prevent the user from logging in."} %>
	    </div>
	  </div>

  	<div class="control-group">
		<div class="controls">	
			<%= button_tag( :class => "btn btn-primary") do %>
				Create account <i class="icon-plus icon-white"></i> 
			<% end %>
    	</div>
	</div>
    <% end %>
  </div>
</div>