<% provide(:title, "Update Password") %>
<h1>Update Your Password</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :html => { :class => "form-horizontal" }, :url => {:action => "update_password"} do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

	  <div class="control-group required">
	  	<%= f.label :password, "New Password", :class => "control-label" %>
	  	<div class="controls">
     		<%= f.password_field :password %>
		</div>
	   </div>
	   
	  <div class="control-group required">	
      	<%= f.label :password_confirmation, "Confirmation", :class => "control-label" %>
      	<div class="controls">
      		<%= f.password_field :password_confirmation %>
		</div>
	   </div>
	   
	  <div class="control-group">
	  	<div class="controls">
      		<%= button_tag( :class => "btn btn-warning") do %>
  				Update Password <i class="icon-lock icon-white"></i>
			<% end %>
      	</div>
	   </div>	
	   
    <% end %>
  </div>
</div>