<% provide(:title, @user.name) %>
<h1>
	<%= @user.name %>
</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
	
      <%= f.label :name %>
      <%= f.text_field :name, :readonly => true %>

      <%= f.label :email %>
      <%= f.text_field :email, :readonly => true %>

	  <%= f.label :role %>
	  <%= f.text_field :role, :readonly => true %>
	  
    <% end %>
  </div>
</div>
