<% provide(:title, 'Update Client') %>
<h1>Update Client</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@client) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	
      <%= f.label :org, "Organisation" %>
      <%= f.text_field :org %>

      <%= f.label :email, "Contact Email" %>
      <%= f.text_field :email %>

	  <%= f.label :address %>
	  <%= f.text_area :address %>

	  <%= f.label :extra, "Extra Info" %>
	  <%= f.text_area :extra %>

      <%= f.submit "Update client", class: "btn btn-large btn-warning" %>
      
    <% end %>
  </div>
</div>