<% provide(:title, 'All Clients') %>
<h1>All Clients</h1>
<%= will_paginate %>
<div class="row">
  <div class="span10 offset1">
	<table class="table">
	  <tr>
	    <th>Organisation</th>
	    <th>Contact Name</th>
	    <th>Contact Email</th>
	    <th>Address</th>
	    <th>Extra Info</th>
	    <th>Options</th>
	  </tr>
	  <% @clients.each do |client| %>
	    <tr>o
	      <td>
	      	<%= link_to client.org, client %>
	      </td>
	      <td>
	      	<%= client.contact_name.to_s %>
	      </td>
	      <td>
	      	<a href="mailto:<%= client.email %>"><%= client.email %></a>
	      </td>
	      <td>
	      	<%= client.address.to_s %>
	      </td>
	      <td>
	      	<%= client.extra.to_s %>
	      </td>
	      <td>
	      	<%= link_to edit_client_path(client) do %>
	      		<i class="icon-edit"></i>	      	
	      	<% end %>
	      	<% if current_user.admin? %>
	    		<%= link_to client, method: :delete, data: { confirm: "You sure you wish to delete this client?" }  do %>
	    			<i class="icon-trash"></i>
	    		<% end %>
	  	  	<% end %>
	      </td>	      
	    </tr>
	  <% end %>
	</table>
	<%= will_paginate %>
  </div>
</div>
