<div class="data-entry-header">
	<h2><i class="icon-th icon-white"></i> Search Results <a href="#results_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	</h2>
</div>
<p>Search results are shown below click the column headers to sort by that column.</p>
	
<div id="results_info" class="collapse in">
	<script>
	
	$(function(){
  		$("#tablesorted").tablesorter({
  			sortList: [[1,0]],
  			headers: {              
            	0: { 
                	sorter: false //select
            	},
            	6: {
            		sorter: false //ations
            	}
           }
        }
  		);
  		$('[rel=popover]').popover({ placement : 'right',
  							   container: 'body',
  							   trigger: 'hover'});
  		$('[rel=popover]').on('click', function(e) {e.preventDefault(); return true;});
		});
	</script>
	<%= form_tag edit_multiple_lots_path, method: :post do %>
		
		<table id="tablesorted" class="tablesorter table table-condensed">
			 <thead>
			 	<tr>
			      <th></th>
			      <th>Lot #</th>
			      <th>Client</th>
			      <th>Commercial</th>
			      <th>Site</th>
			      <th>Biological Classification</th>
			      <th>Actions</th>
			    </tr>
			 </thead>
			 <tbody> 
				 <% @lots.each do |lot| %>
				 	<tr>
				 		<td><%= check_box_tag "lot_ids[]", lot.id %></td>
				 		<td><%= lot.id.to_s %></td>
				 		<td><%= link_to Client.find(lot.client_id).org.to_s.humanize, client_path(lot.client_id) %></td>
				 		<td><%= lot.commercial ? "Yes" : "No" %></td>
				 		<td><%= lot.site %></td>
				 		<td><%= lot.phylum.to_s + " " + lot.l_class.to_s + " " + lot.genus.to_s + " " + lot.species.to_s %></td>
				 		<td><%= link_to edit_lot_path(lot) do %>
				 				<i class="icon-edit"></i> 
				 			<% end %>
				 			<%= link_to lot_path(lot) do %>
				 				<i class="icon-time"></i> 
				 			<% end %>
				 			<%= render :partial => "searches/peak", :locals => {:peak => lot} %>
				 		</td>
				 	</tr>
				 <% end %>
			 </tbody>
		</table>
		
		
		<div class="keys">
			<ul>
				<li>
					<i class="icon-eye-open"></i> Details
				</li>
				<li>
					<i class="icon-time"></i> History
				</li>
				<li>
					<i class="icon-edit"></i> Edit
				</li>
				<li>
					<b>Key:</b>
				</li>
			</ul>
		</div>
		<%= content_tag( :button, :type => :submit, :class => "btn btn-warning") do %>
   			Edit Selected 
   			<i class="icon-edit icon-white"></i>
		<% end %>
		<%= render :partial => "layouts/hint", :locals => {:hint => "Make updates to multiple samples simultaneously, by selecting them above."} %>
	<% end %>
	
</div>