<div class="data-entry-header">    
	<h2>Actions <a href="#actions" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	</h2>
</div>
<p>Actions related to this Batch.</p>
  
<div id="actions" class="collapse in display-none">
	<% if !Lot.where(batch_id: @batch.id).empty? %>
		<ul>
			<li>
				<%= form_tag edit_multiple_lots_path, method: :post do %>
					<% lots.each do |lot| %>
				    	<%= hidden_field_tag "lot_ids[]", lot.id %>
				    <% end %>
					<%= content_tag( :button, :type => :submit, :class => "link") do %>
   						<i class="icon-edit"></i>
   						Update batch samples 
					<% end %>
					<%= render :partial => "layouts/hint", :locals => {:hint => "Update all samples currently associated with this batch at the same time."} %>
				<% end %>
			</li>
			<li>
				<%= link_to batch_path(@batch, format: "csv") do %>
					<i class="icon-download-alt"></i>
					Download batch samples
					<%= render :partial => "layouts/hint", :locals => {:hint => "Download details as a CSV for all samples currently associated with this batch."} %>
				<% end %>
			</li>
		</ul>
	<% else %>
		<p>No actions are currently currently avalible for this batch.</p>	
	<% end %>
</div>
