<div class="data-entry-header">    
	<h2>Batch Details <a href="#details" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	</h2>
</div>
<p>Details related to this Batch.</p>
  
<div id="details" class="collapse in display-none">
	<table class="table table-condensed">
		<tr>
			<th>Description</th>
			<td><%= @batch.name %></td>
		</tr>
		<tr>
			<th>Client</th>
			<td><%= Client.find(@batch.client_id).org.to_s.humanize %></td>
		</tr>
		<tr>
			<th>Commercial:</th>
			<td><%= @batch.commercial ? "Yes" : "No" %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= l @batch.created_at, format: :short %></td>
		</tr>
		<tr>
			<th>By:</th>
			<td><%= User.find(@batch.user_id).name.to_s.humanize %></td>
		</tr>
		<tr>
			<th>Accessible to:</th>
			<td><%= @batch.restriction.humanize %></td>
		</tr>
	</table>
</div>