	<%= form_for(@lot, :html => { :class => "form-horizontal" }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	   <div class="data-entry-header">
		  	<h2>Client Info <a href="#client_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
		  	</h2>
	   </div>
	   <p>Infomation about the client for commercial samples (Staff only).</p>
		  
		  <div id="client_info" class="collapse in">
			  <div class="control-group">
			  	<%= f.label :client_id, "Client", :class => "control-label" %>	  	
			  	<div class="controls">
			  		<%= f.collection_select(:client_id, Client.all, :id, :org) %>
			  		<%= render :partial => "layouts/hint", :locals => {:hint => "Which Organisation sent the sample, for student samples the client is 'University of York'."} %>
			  	</div>
			  </div>
			  
			  <div class="control-group">
			  	<%= f.label :commercial, :class => "control-label" %>
			  	<div class="controls">
		  			<%= f.select :commercial, options_for_select([["Non-Commercial", false], ["Commercial", true]], @lot.commercial) %>
		  			<%= render :partial => "layouts/hint", :locals => {:hint => "Is this a commercial peice of work?"} %>
			  	</div>
			  </div> 
			  	  
			  <div class="control-group">
			  	<%= f.label :samp_id, "Client Sample ID", :class => "control-label" %>
			  	<div class="controls">
		      		<%= f.text_field :samp_id, :placeholder => "eg. Durham - ABC123" %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "The supplying organisations individual sample identifier."} %>
		      	</div>
			  </div>
		  </div>
		  
		  <div class="data-entry-header">
		  	<h2>Sample Details <a href="#samp_det" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
		  	</h2>
		  </div>
		  <p>Details about the sample, unknown fields should be left blank to be completed when known.</p>
		  
		  <div id="samp_det" class="collapse">
			  <div class="control-group">
			  	<%= f.label :sampletype_id, "Sample type", :class => "control-label" %>
			  	<div class="controls">
			  		<%= f.collection_select(:sampletype_id, Sampletype.all, :id, :name, prompt: true) %>
			  		<%= render :partial => "layouts/hint", :locals => {:hint => "A high level discription of the sample."} %>
			    </div>
			  </div>
			  
			  <div class="control-group">
			  	<%= f.label :commonname_id, "Common Name", :class => "control-label" %>
			  	<div class="controls">
			  		<%= f.collection_select(:commonname_id, Commonname.all, :id, :name, prompt: true) %>
			  		<%= render :partial => "layouts/hint", :locals => {:hint => "The commonly used name for this sample."} %>
			    </div>
			  </div>
			  
			  <div class="control-group">
			  	<%= f.label :phylum, :class => "control-label" %>
			  	<div class="controls">
		      		<%= f.text_field :phylum, :placeholder => "eg. Chordata" %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "Start Typing the first few letters for suggested values."} %>
			    </div>
			  </div>
			  
			  <div class="control-group">
			  	<%= f.label :l_class, "Class", :class => "control-label" %>
			  	<div class="controls">
		      		<%= f.text_field :l_class, :placeholder => "eg. Mammalia" %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "Start Typing the first few letters for suggested values."} %>
			    </div>
			  </div>
			  
			  <div class="control-group">
			  	<%= f.label :genus, :class => "control-label" %>
			  	<div class="controls">
		     		 <%= f.text_field :genus, :placeholder => "eg. Homo" %>
		     		 <%= render :partial => "layouts/hint", :locals => {:hint => "Start Typing the first few letters for suggested values."} %>
			    </div>
			  </div>
			  
			  <div class="control-group">
			  	<%= f.label :species, :class => "control-label" %>
			  	<div class="controls">
		      		<%= f.text_field :species, :placeholder => "eg. Sapiens" %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "Start Typing the first few letters for suggested values."} %>
			    </div>
			  </div>
		  </div>
		  
		  <div class="data-entry-header">  
		  	<h2>Sample Storage Info <a href="#store_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
		  	</h2>
		  </div>
		  <p>Infomation here helps identify and manage samples.</p>
		  
		  <div id="store_info" class="collapse">
			  <div class="control-group">
			  	<%= f.label :sample_form, "Sample Form", :class => "control-label" %>
			  	<div class="controls">
			  		<%= f.text_field :sample_form, :placeholder => "eg. 'Foil pack' or 'test tube'" %>
			  		<%= render :partial => "layouts/hint", :locals => {:hint => "Discription of how the sample is packed, to aid in identifying the sample."} %>		
			    </div>
			  </div>
			    	  
			  <div class="control-group">
			  	<%= f.label :to_return, "Return sample when finished?", :class => "control-label" %>
			  	<div class="controls">
			  		<%= f.select :to_return, options_for_select([["Yes", "YES"], ["No (destroy)", "NO"], ["Archive", "ARCHIVE"]],@lot.to_return) %>
			  		<%= render :partial => "layouts/hint", :locals => {:hint => "What should happen to the sample once analysis is complete."} %>
			    </div>
			  </div>
		   
		   
		   <% if @lot.to_return == 'YES' %>
		   	  <div class="control-group">
			  	<%= f.label :returned, "Sample Returned?", :class => "control-label" %>
			  	<div class="controls">
			  		<%= f.select :returned, options_for_select([["Yes", "YES"], ["No", "NO"]], @lot.returned) %>
			  		<%= render :partial => "layouts/hint", :locals => {:hint => "Has the sample been returned to the client."} %>
			    </div>
			  </div>
		   <% else %>  
			  <% if @lot.to_return == 'ARCHIVE' %>
			  	<div class="control-group">
			  		<%= f.label :archive_box, "Archive Box", :class => "control-label" %>
			  		<div class="controls">
			  			<%= f.text_field :archive_box, :placeholder => "eg. Archive Room 1 Box 2" %>
			  			<%= render :partial => "layouts/hint", :locals => {:hint => "What is the archive location of this item."} %>
			    	</div>
			  	</div>
			  <% end %>
		   <% end %>
		   
		   <% if !@lot.return_date.blank? && @lot.returned == 'YES' %>		   
			   <div class="control-group">
		  	  	<%= f.label :return_date, "Date Returned", :class => "control-label" %>
		  	  		<div class="controls">
		      		<%= f.date_field :return_date %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "When was the sample returned (this field is autofilled when the sample is marked as returned)."} %>
		 	    </div>
			  </div>		   
		   <% end %>  
		  </div>
		  
		  <div class="data-entry-header">  	  
		  	<h2>Geographic Info <a href="#geo_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
		  	</h2>
		  </div>
		  <p>Geographic Infomation about where the sample was taken from.</p>
		  
		  <div id="geo_info" class="collapse">
			  <div class="control-group">
			  	<%= f.label :region, "Geographic region", :class => "control-label" %>
			  	<div class="controls">
		      		<%= f.text_field :region, :placeholder => "eg. North Yorks" %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "The area the sample came from."} %>
			    </div>
			  </div>
		  
		    	  
			  <div class="control-group">
			  	<%= f.label :site, "Archeological site", :class => "control-label" %>
			  	<div class="controls">
		      		<%= f.text_field :site, :placeholder => "eg. York - Heslington East" %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "The specific site the sample came from."} %>
			    </div>
			  </div>
		  </div>
		  
		  <div class="data-entry-header">    
	  	  	<h2>Analysis <a href="#anal_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
		  	</h2>
	  	  </div>
	  	  <p> Infomation about analysis and who will be carrying it out.</p>
	  	  
	  	  <div id="anal_info" class="collapse">
		  	  <div class="control-group">
		  	  	<%= f.label :analysis_by, "Analysis to be carried out by", :class => "control-label" %>
		  	  	<div class="controls">
			  		<%= f.collection_select(:analysis_by, User.all, :id, :name, prompt: true) %>
			  		<%= render :partial => "layouts/hint", :locals => {:hint => "The student or member of staff who will be carrying out the analysis work."} %>
			    </div>
			  </div>
			  
			  <p>Please select all methods that apply:</p>
		    <div class="control-group">
		  		<%= f.label :isotopes, :class => "control-label" %>
		  		<div class="controls">
		  			<%= f.check_box :isotopes %>
		  			<%= render :partial => "layouts/hint", :locals => {:hint => "Will Isotope analysis be conducted on this sample."} %>
		  		</div>
			</div>
		  
			<div class="control-group">	  
		  		<%= f.label :zooms, "ZooMS", :class => "control-label" %>
		  		<div class="controls">
		  			<%= f.check_box :zooms %>
		  			<%= render :partial => "layouts/hint", :locals => {:hint => "Will ZooMS analysis be conducted on this sample."} %>
		  		</div>
			</div>
				  	
		  	<div class="control-group">
		  		<%= f.label :aar, "AAR", :class => "control-label" %>
		  		<div class="controls">
		  			<%= f.check_box :aar %>
		  			<%= render :partial => "layouts/hint", :locals => {:hint => "Will AAR analysis be conducted on this sample."} %>
		  		</div>
			</div>
				  	
		  	<div class="control-group">
		  		<%= f.label :lipid, :class => "control-label" %>
		  		<div class="controls">
		  			<%= f.check_box :lipid %>
		  			<%= render :partial => "layouts/hint", :locals => {:hint => "Will Lipid analysis be conducted on this sample."} %>
		  		</div>
			</div>
				  	
		  	<div class="control-group">
		  		<%= f.label :dna, "DNA", :class => "control-label" %>
		  		<div class="controls">
		  			<%= f.check_box :dna %>
		  			<%= render :partial => "layouts/hint", :locals => {:hint => "Will DNA analysis be conducted on this sample."} %>
		  		</div>
			</div>
				  
		  	<div class="control-group">
			  	<%= f.label :analysis_other, "Other Methods:", :class => "control-label" %>
			  	<div class="controls">
		      		<%= f.text_field :analysis_other, :placeholder => "" %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "Any other analysis to be conducted on this sample."} %>
			    </div>
			  </div>
		  </div>
		  
		  <div class="data-entry-header">    
	  	  	<h2>Extra Info <a href="#extra_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
		  	</h2>
	  	  </div>
	  	  <p>Any extra infomation not recorded elsewhere.</p>
	  	  
	  	  <div id="extra_info" class="collapse">
			  <div class="control-group">
			  	<%= f.label :extra_info, "Additional infomation", :class => "control-label" %>
			  	<div class="controls">
		      		<%= f.text_area :extra_info, :placeholder => "Any additional infomation regarding the sample..." %>
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "Any additional infomation on this sample not recorded elsewhere."} %>
			    </div>
			  </div>
		  </div>
		  
		  <div class="data-entry-header">    
	  	  	<h2>Aduit Log <a href="#audit_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
		  	</h2>
	  	  </div>
	  	  <p> Infomation recorded for aduiting purposes against any updates to this record.</p>
	  	 
	  	  <div id="audit_info" class="collapse">
		  	  <div class="control-group">
		  	  	<label class="control-label" for="lot_created_at_dummy">Last Updated</label>
		  	  	<div class="controls">
		      		<input id="lot_created_at_dummy" name="lot[created_at]" readonly="readonly" type="datetime" value="<%= @lot.updated_at.to_s %>">
		      		<%= render :partial => "layouts/hint", :locals => {:hint => "Timestamped when the sample selected for update."} %>
		 	    </div>
			  </div>
		         
		      <div class="control-group">
		      	<label for="lot_data_entered_by_dummy" class="control-label">Last updated by</label>
		      	<div class="controls">
			  		<input id="lot_data_entered_by_dummy" readonly="readonly" type="text" value="<%= @user.name.to_s %>">
			  		<%= render :partial => "layouts/hint", :locals => {:hint => "User details recorded against this edit."} %>
			    </div>
			  </div>
		  </div>
		 <div class="pagination-centered">
		 	<%= f.submit "Save changes", class: "  btn btn-warning" %>
		 </div>
		<% end %>