<% provide(:title, 'New Lot') %>
<h1>Generate a New Lot Number</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@lot, :html => { :class => "form-horizontal" }) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <div class="data-entry-header">
	  	<h2>Client Info <a href="#client_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	  	</h2>
	  </div>
	  <p>Infomation about the client for commercial samples (Staff only).</p>
	  
	  <div id="client_info" class="collapse in">
		  <div class="control-group">
		  	<%= f.label :client_id, "Client", :class => "control-label" %>	  	
		  	<div class="controls">
		  		<%= f.collection_select(:client_id, Client.all, :id, :org) %>
		  	</div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label :commercial, :class => "control-label" %>
		  	<div class="controls">
	  			<%= f.select :commercial, options_for_select([["Non-Commercial", false], ["Commercial", true]], @lot.commercial) %>
		  	</div>
		  </div> 
		  	  
		  <div class="control-group">
		  	<%= f.label :samp_id, "Client Sample ID", :class => "control-label" %>
		  	<div class="controls">
	      		<%= f.text_field :samp_id, :placeholder => "eg. Durham - ABC123" %>
	      	</div>
		  </div>
	  </div>
	  
	  <div class="data-entry-header">
	  	<h2>Sample Details <a href="#samp_det" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	  	</h2>
	  </div>
	  <p>Details about the sample, unknown fields should be left blank to be completed when known.</p>
	  
	  <div id="samp_det" class="collapse">
		  <div class="control-group">
		  	<%= f.label :sampletype_id, "Sample type", :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.collection_select(:sampletype_id, Sampletype.all, :id, :name, prompt: true) %>
		    </div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label :commonname_id, "Common Name", :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.collection_select(:commonname_id, Commonname.all, :id, :name, prompt: true) %>
		    </div>
		  </div>
		  
		  <p>If unknown please leave biological classification fields blank.</p>
		  
		  <div class="control-group">
		  	<%= f.label :phylum, :class => "control-label" %>
		  	<div class="controls">	      		
	      		<%= f.autocomplete_field :phylum, autocomplete_phylum_name_lots_path, :placeholder => "Type for suggestions" %>
		    </div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label :l_class, "Class", :class => "control-label" %>
		  	<div class="controls">
	      		<%= f.autocomplete_field :l_class, autocomplete_l_class_name_lots_path, :placeholder => "Type for suggestions" %>
		    </div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label :genus, :class => "control-label" %>
		  	<div class="controls">
	     		 <%= f.autocomplete_field :genus, autocomplete_genus_name_lots_path, :placeholder => "Type for suggestions" %>
		    </div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label :species, :class => "control-label" %>
		  	<div class="controls">
	      		<%= f.autocomplete_field :species, autocomplete_species_name_lots_path, :placeholder => "Type for suggestions" %>
		    </div>
		  </div>
	  </div>
	  
	  <div class="data-entry-header">  
	  	<h2>Sample Storage Info <a href="#store_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	  	</h2>
	  </div>
	  <p>Infomation here helps identify and manage samples.</p>
	  
	  <div id="store_info" class="collapse">
		  <div class="control-group">
		  	<%= f.label :sample_form, "Sample Form", :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.text_field :sample_form, :placeholder => "eg. 'Foil pack' or 'test tube'" %>	
		    </div>
		  </div>
		    	  
		  <div class="control-group">
		  	<%= f.label :to_return, "Return sample when finished?", :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.select :to_return, options_for_select([["Yes", "YES"], ["No (destroy)", "NO"], ["Archive", "ARCHIVE"]]) %>
		    </div>
		  </div>
	   </div>  
	  
	  <div class="data-entry-header">  	  
	  	<h2>Geographic Info <a href="#geo_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	  	</h2>
	  </div>
	  <p>Geographic Infomation about where the sample was taken from.</p>
	  
	  <div id="geo_info" class="collapse">
		  <div class="control-group">
		  	<%= f.label :region, "Geographic region", :class => "control-label" %>
		  	<div class="controls">
	      		<%= f.text_field :region, :placeholder => "eg. North Yorks" %>
		    </div>
		  </div>
	  
	    	  
		  <div class="control-group">
		  	<%= f.label :site, "Archeological site", :class => "control-label" %>
		  	<div class="controls">
	      		<%= f.text_field :site, :placeholder => "eg. York - Heslington East" %>
		    </div>
		  </div>
	  </div>
	  
	  <div class="data-entry-header">    
  	  	<h2>Analysis <a href="#anal_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	  	</h2>
  	  </div>
  	  <p> Infomation about analysis and who will be carrying it out.</p>
  	  
  	  <div id="anal_info" class="collapse">
	  	  <div class="control-group">
	  	  	<%= f.label :analysis_by, "Analysis to be carried out by", :class => "control-label" %>
	  	  	<div class="controls">
		  		<%= f.collection_select(:analysis_by, User.all, :id, :name, prompt: true) %>
		    </div>
		  </div>
	  
	  	<p>Please select all methods that apply:</p>
	    <div class="control-group">
	  		<%= f.label :isotopes, :class => "control-label" %>
	  		<div class="controls">
	  			<%= f.check_box :isotopes %>
	  		</div>
		</div>
	  
		<div class="control-group">	  
	  		<%= f.label :zooms, "ZooMS", :class => "control-label" %>
	  		<div class="controls">
	  			<%= f.check_box :zooms %>
	  		</div>
		</div>
			  	
	  	<div class="control-group">
	  		<%= f.label :aar, "AAR", :class => "control-label" %>
	  		<div class="controls">
	  			<%= f.check_box :aar %>
	  		</div>
		</div>
			  	
	  	<div class="control-group">
	  		<%= f.label :lipid, :class => "control-label" %>
	  		<div class="controls">
	  			<%= f.check_box :lipid %>
	  		</div>
		</div>
			  	
	  	<div class="control-group">
	  		<%= f.label :dna, "DNA", :class => "control-label" %>
	  		<div class="controls">
	  			<%= f.check_box :dna %>
	  		</div>
		</div>
			  
	  	<div class="control-group">
		  	<%= f.label :analysis_other, "Other Methods:", :class => "control-label" %>
		  	<div class="controls">
	      		<%= f.text_field :analysis_other, :placeholder => "" %>
		    </div>
		  </div>
	  </div>  
	  
	  <div class="data-entry-header">    
  	  	<h2>Extra Info <a href="#extra_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	  	</h2>
  	  </div>
  	  <p>Any extra infomation not recorded elsewhere.</p>
  	  
  	  <div id="extra_info" class="collapse">
		  <div class="control-group">
		  	<%= f.label :extra_info, "Additional infomation", :class => "control-label" %>
		  	<div class="controls">
	      		<%= f.text_area :extra_info, :placeholder => "Any additional infomation regarding the sample..." %>
		    </div>
		  </div>
	  </div>
	  
	  <div class="data-entry-header">    
  	  	<h2>Aduit Log <a href="#audit_info" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	  	</h2>
  	  </div>
  	  <p> Infomation recorded when creating a new Lot for aduiting purposes.</p>
  	 
  	  <div id="audit_info" class="collapse">
	  	  <div class="control-group">
	  	  	<%= f.label :created_at, "Date Received", :class => "control-label" %>
	  	  	<div class="controls">
	      		<%= f.datetime_field :created_at,  :readonly => true %>
	 	    </div>
		  </div>
	  
	         
	      <div class="control-group">
	      	<label for="lot_data_entered_by_dummy" class="control-label">Data logged by</label>
	      	<div class="controls">
		  		<input id="lot_data_entered_by_dummy" readonly="readonly" type="text" value="<%= current_user.name.to_s %>">
		    </div>
		  </div>
	  </div>
	  
	  <div class="pagination-centered">
		<%= button_tag( :class => "btn btn-success") do %>
  			Generate Lot Number <i class="icon-ok icon-white"></i>
		<% end %>

		<%= button_tag( :class => "btn btn-danger") do %>
  			Cancel <i class=" icon-remove icon-white"></i>
		<% end %>

      </div>
    <% end %>
  </div>
</div>