<% provide(:title, 'All Common Names') %>
<h1>All Common Names</h1>
<div class="row">
	<div class="span4 offset4">
		<%= will_paginate %>
		
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		  <% @commonnames.each do |commonname| %>
			<tr>
		      <td><%= link_to commonname.name, commonname %></td>
		      <td>
		      	<%= link_to  edit_commonname_path(commonname) do %>
		      		<i class="icon-edit"></i>
		      	<% end %>
			    <% if current_user.admin? %>
			    	<%= link_to commonname, method: :delete, data: { confirm: "You sure you wish to delete this common name?" }  do%>
			  	   	  <i class="icon-trash"></i>
			  	   	<% end %>
				<% end %>
			  </td>
			 </tr> 
		  <% end %>
		</table>
		<%= will_paginate %>
	</div>	
</div>