<% provide(:title, 'Add Common Name') %>
<h1>New Common Name</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@commonname, :html => { :class => "form-horizontal"}) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	
	  <div class="control-group required">
	  	<%= f.label :name, :class => "control-label" %>
  		<div class="controls">
  			<%= f.text_field :name %>
  			<%= render :partial => "layouts/hint", :locals => {:hint => "This field will be displayed as an 'Common Name' option when creating or updating samples."} %>
  		</div>
	  </div>
	  
      <div class="control-group">
		<div class="controls">	
      		<%= button_tag( :class => "btn btn-success") do %>
  				Add Common Name <i class="icon-plus icon-white"></i>
			<% end %>
      		<%= link_to dashboard_path, class: "btn btn-danger" do %>
				Cancel <i class=" icon-remove icon-white"></i>
			<% end %>
      	</div>
      </div>
      
    <% end %>
  </div>
</div>