<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "LDMS", (signed_in? ? dashboard_path : root_path), id: "logo" %>
      <nav>
        <ul class="nav pull-right">
        <% if signed_in? %>
          <li><%= link_to dashboard_path do %>         	
          	<i class="icon-home icon-white"></i> Dashboard
          	<% end %>
          </li>
        <% end %>
          <%if staff_user? %>
			<li id="fat-menu" class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    <i class="icon-cog icon-white"></i> Config <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
			    <li>
			    	<%= link_to users_path do %>
			    	<i class="icon-list"></i> All Users
			    	<% end %>
			    </li>
			    <li>
			    	<%= link_to new_user_path do %>
			    	<i class="icon-plus"></i> New User
			    	<% end %>
			    </li>
			    <li class="divider"/>
			    <li>
			    	<%= link_to clients_path do %>
			    	<i class="icon-list"></i> All Clients
			    	<% end %>
			    </li>
			    <li>
			    	<%= link_to new_client_path do %>
			    	<i class="icon-plus"></i> New Client
			    	<% end %>
			    </li>
			    <li class="divider"/>
			    <li>
			    	<%= link_to commonnames_path do %>
			    	 <i class="icon-list"></i> All Common Names
			    	<% end %>
			    </li>
			    <li>
			    	<%= link_to new_commonname_path do %>
			    		<i class="icon-plus"></i> New Common Name
			    	<% end %>
			    </li>
			    <li class="divider"/>
			    <li>
			    	<%= link_to sampletypes_path do %>
			    	 <i class="icon-list"></i> All Sample Types
			    	<% end %>
			    </li>
			    <li>
			    	<%= link_to new_sampletype_path do %>
			    		<i class="icon-plus"></i> New Sample Type
			    	<% end %>
			    </li>
			  </ul>
			</li>
          <% end %>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <i class="icon-user icon-white"></i> Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                	<%= link_to current_user do %>
                	<i class="icon-eye-open"></i> Profile
                	<%end %>
                </li>
                <li>
                	<%= link_to edit_user_path(current_user) do %>
                	<i class="icon-wrench"></i> Account Settings
                	<% end %>
                </li>
                <li>
                	<%= link_to update_password_user_path(current_user) do %>
                	<i class="icon-lock"></i> Change Password
                	<% end %>
                </li>
                <li class="divider"/>
                <li>
                  <%= link_to  signout_path, method: "delete" do %>
                 	<i class="icon-off"></i> Sign out
                  <% end %>
                </li>
              </ul>
            </li>
            <li>
	          	<div id="header-search">
		        	<%= form_tag quick_lots_path, :class => "form-search", method: :post do %>
		        	 <div class="input-append">
		        		<%= text_field_tag :id, nil, :placeholder => "Lot # or ID", :class => "input-small search-query" %>
		        		<%= button_tag(type: "submit", class: "btn") do %>
		        			<i class="icon-search"></i>
		        		<% end %>
		        	 </div>
		        	<% end %>
	        	</div>
        	</li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>